<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-plugin-zenderplayer" version="0.9.8">
    <name>Zender Player SDK</name>
    <description>Cordova plugin for Zender Player SDK</description>
    <keywords>cordova,livestreaming, interaction,trivia</keywords>
    <js-module src="www/zender.js">
        <clobbers target="ZenderPlayer" />
    </js-module>
    <platform name="android">
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.INTERNET"/>
            <uses-permission android:name="android.permission.WAKE_LOCK"/>
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
        </config-file>
        <config-file target="config.xml" parent="/*">
            <feature name="CordovaZenderPlayer">
                <param name="android-package" value="tv.zender.cordova.CordovaZenderPlayer"/>
            </feature>
            <preference name="backgroundColor" value="0x00000000" /><!-- http://stackoverflow.com/a/18068662 -->
        </config-file>
        <source-file src="src/android/CordovaZenderPlayer.java" target-dir="src/tv/zender/cordova" />
        <framework src="src/android/libzender.gradle" custom="true" type="gradleReference" />
    </platform>
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="CordovaZenderPlayer">
                <param name="ios-package" value="CordovaZenderPlayer" />
                <param name="onload" value="true" />
            </feature>
        </config-file>
        <header-file src="src/ios/CordovaZenderPlayer.h" />
        <source-file src="src/ios/CordovaZenderPlayer.m" />
        <podspec>
      <config>
        <source url="https://github.com/zendertv/Specs.git" />
        <source url="https://github.com/CocoaPods/Specs.git"/>
      </config>
      <pods use-frameworks="true">
        <pod name="Zender" spec="2.3.0"/>
      </pods>
    </podspec>

    </platform>
</plugin>
